a {
    text-decoration: none;
    color: white;
    margin-bottom: 2px;
    width: 100%;
  }
  
  #asideNavigation a:hover {
    background-color: grey;
  }
  
  i {
    font-size: 1.2em;
    padding: 2px;
  }
  
  #playlistColumn {
    font-size: 0.9em;
    height: 72.9vh;
  }
  #playlistColumn a {
    color: rgb(168, 168, 168);
  }
  #playlistColumn a:active {
    background-color: rgb(26, 26, 26);
  }
  
  #dropdownMenu {
    background-color: black;
  }
  #dropdownMenu a {
    color: white;
  }
  #dropdownMenu a:hover {
    background-color: grey;
  }
  
  #options a:hover {
    background-color: grey;
  }
  
  #songsContainer {
    background: rgb(18, 18, 18);
    background: linear-gradient(0deg, rgb(2, 2, 2) 22%, rgb(33, 33, 33) 100%);
  }
  #songsContainer ul li a:hover {
    background-color: grey;
  }
  #songsContainer ul li a {
    color: white;
  }
  
  .chevron i:hover {
    display: none;
  }
  
  .btn_profile {
    background-color: black;
    color: white;
  }
  
  .jumbotronContainer {
    background: linear-gradient(18deg, rgb(0, 0, 0) 39%, rgb(19, 19, 19) 57%);
  }
  
  #imgJumbotron img {
    width: 100%;
    object-fit: cover;
  }
  
  #recentsContainer .recents_imgs img {
    width: 100%;
    object-fit: cover;
  }
  
  .buonaseraAlbum, .suggestionElement {
    background-color: rgb(40, 40, 40);
  }
  .buonaseraAlbum:hover, .suggestionElement:hover {
    background-color: #424242;
    cursor: pointer;
  }
  
  .playBtn {
    background-color: #18D860;
  }
  .playBtn:hover {
    background-color: #3ae97c;
  }
  
  #albumContainer {
    background: rgb(18, 18, 18);
    background: linear-gradient(0deg, rgb(2, 2, 2) 22%, rgb(33, 33, 33) 100%);
  }
  #albumContainer ul li a:hover {
    background-color: grey;
  }
  #albumContainer ul li a {
    color: white;
  }
  
  #listAlbum {
    background-color: transparent;
  }
  
  #toolsBar button {
    border: none;
    background-color: transparent;
  }
  #toolsBar #play {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: #00D052;
  }
  #toolsBar #play:hover {
    background-color: #04ff67;
  }
  #toolsBar #play:active {
    background-color: #009d3e;
  }
  
  #brani p {
    margin: 0;
    color: grey;
  }
  
  .brano:hover {
    background-color: rgb(87, 87, 87);
  }
  
  #listAlbum {
    background-color: rgba(0, 0, 0, 0.2);
  }
  
  #playerAlbum button {
    border: none;
    background-color: transparent;
  }
  #playerAlbum #playAlbum {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: #00D052;
  }
  #playerAlbum #playAlbum:hover {
    background-color: #04ff67;
  }
  #playerAlbum #playAlbum:active {
    background-color: #009d3e;
  }
  
  .albumOver:hover {
    background-color: grey;
  }
  
  html, body {
    font-family: "Circular";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
  }
  
  .seek-bar {
    appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 10px;
    background-color: grey;
    overflow: hidden;
    cursor: pointer;
  }
  
  .seek-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1px;
    height: 20px;
    box-shadow: -400px 0 0 400px white;
  }
  
  .seek-bar::-webkit-slider-thumb:hover {
    box-shadow: -400px 0 0 400px #1db954;
  }
  
  .pt-1 {
    position: relative;
  }
  
  #volume-control {
    appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 10px;
    background-color: grey;
    overflow: hidden;
    cursor: pointer;
  }
  
  #volume-control::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1px;
    height: 20px;
    box-shadow: -400px 0 0 400px white;
  }
  
  #volume-control::-webkit-slider-thumb:hover {
    box-shadow: -400px 0 0 400px #1db954;
  }