/* ! RANGE SLIDER */

#track-range,
#volume-range {
  width: 100%;
  height: 1.5rem;
  padding: 0;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#track-range:hover::-webkit-slider-thumb,
#volume-range:hover::-webkit-slider-thumb {
  width: 1rem;
  height: 1rem;
}

#track-range::-webkit-slider-thumb,
#volume-range::-webkit-slider-thumb {
  width: 0rem;
  height: 0rem;
  margin-top: -0.25rem;
  background-color: #fff;
  border: 0;
  border-radius: 1rem;
  -webkit-transition: background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
  appearance: none;
}

input[type="range"].styled-slider {
  height: 15px;
  -webkit-appearance: none;
}

/*progress support*/

input[type="range"].styled-slider.slider-progress {
  --range: calc(var(--max) - var(--min));
  --ratio: calc((var(--value) - var(--min)) / var(--range));
  --sx: calc(0.5 * 12px + var(--ratio) * (100% - 12px));
}

input[type="range"].styled-slider:focus {
  outline: none;
}

/*webkit*/

input[type="range"].styled-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 9999px;
  background: #ffffff00;
  border: none;
  box-shadow: 0 0 1px #000000;
  margin-top: calc(4px * 0.5 - 12px * 0.5);
}

input[type="range"].styled-slider::-webkit-slider-runnable-track {
  height: 4px;
  border: none;
  border-radius: 9999px;
  background: #4d4d4d;
  box-shadow: none;
}

input[type="range"].styled-slider::-webkit-slider-thumb:hover {
  background: #ffffff;
}

input[type="range"].styled-slider::-webkit-slider-thumb:active {
  background: #ffffff;
}

input[type="range"].styled-slider.slider-progress::-webkit-slider-runnable-track {
  background: linear-gradient(#ffffff, #ffffff) 0 / var(--sx) 100% no-repeat,
    #4d4d4d;
}

input[type="range"].styled-slider.slider-progress:hover::-webkit-slider-runnable-track {
  border-radius: 9999px;
  background: linear-gradient(#1db954, #1db954) 0 / var(--sx) 100% no-repeat,
    #4d4d4d;
}

input[type="range"].styled-slider.slider-progress:active::-webkit-slider-runnable-track {
  border-radius: 9999px;
  background: linear-gradient(#1db954, #1db954) 0 / var(--sx) 100% no-repeat,
    #4d4d4d;
}

/*mozilla*/

input[type="range"].styled-slider::-moz-range-thumb {
  width: 12px;
  height: 12px;
  border-radius: 9999px;
  background: #ffffff00;
  border: none;
  box-shadow: 0 0 1px #000000;
}

input[type="range"].styled-slider::-moz-range-track {
  height: 4px;
  border: none;
  border-radius: 9999px;
  background: #4d4d4d;
  box-shadow: none;
}

input[type="range"].styled-slider::-moz-range-thumb:hover {
  background: #ffffff;
}

input[type="range"].styled-slider::-moz-range-thumb:active {
  background: #ffffff;
}

input[type="range"].styled-slider.slider-progress::-moz-range-track {
  background: linear-gradient(#ffffff, #ffffff) 0 / var(--sx) 100% no-repeat,
    #4d4d4d;
}

input[type="range"].styled-slider.slider-progress:hover::-moz-range-track {
  border-radius: 9999px;
  background: linear-gradient(#1db954, #1db954) 0 / var(--sx) 100% no-repeat,
    #4d4d4d;
}

input[type="range"].styled-slider.slider-progress:active::-moz-range-track {
  border-radius: 9999px;
  background: linear-gradient(#1db954, #1db954) 0 / var(--sx) 100% no-repeat,
    #4d4d4d;
}

/*ms*/

input[type="range"].styled-slider::-ms-fill-upper {
  background: transparent;
  border-color: transparent;
}

input[type="range"].styled-slider::-ms-fill-lower {
  background: transparent;
  border-color: transparent;
}

input[type="range"].styled-slider::-ms-thumb {
  width: 12px;
  height: 12px;
  border-radius: 9999px;
  background: #ffffff00;
  border: none;
  box-shadow: 0 0 1px #000000;
  margin-top: 0;
  box-sizing: border-box;
}

input[type="range"].styled-slider::-ms-track {
  height: 4px;
  border-radius: 9999px;
  background: #4d4d4d;
  border: none;
  box-shadow: none;
  box-sizing: border-box;
}

input[type="range"].styled-slider::-ms-thumb:hover {
  background: #ffffff;
}

input[type="range"].styled-slider::-ms-thumb:active {
  background: #ffffff;
}

input[type="range"].styled-slider.slider-progress::-ms-fill-lower {
  height: 4px;
  border-radius: 9999px 0 0 9999px;
  margin: -undefined 0 -undefined -undefined;
  background: #ffffff;
  border: none;
  border-right-width: 0;
}

input[type="range"].styled-slider.slider-progress:hover::-ms-fill-lower {
  border-radius: 9999px;
  background: #1db954;
}

input[type="range"].styled-slider.slider-progress:active::-ms-fill-lower {
  border-radius: 9999px;
  background: #1db954;
}
