@font-face {
  font-family: "CircularBold";
  src: url(../assets/font/CircularSp-Bold.woff2) format("woff2");
  font-weight: 600;
  font-style: bold;
}
@font-face {
  font-family: "CircularBook";
  src: url(../assets/font/CircularSp-Book.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "CircularTitle";
  src: url(./font/CircularSpTitle-Black.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "CircularTitleBold";
  src: url(./font/CircularSpTitle-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: bold;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  width: 100%;
}

body {
  width: 100%;
  font-family: "CircularBook", sans-serif;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "CircularTitleBold";
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

.mega-grid {
  width: 100vw;
  height: 100vh;
  gap: 8px;
  padding: 8px;
  grid-template-areas:
    "left-aside main right-aside"
    "footer footer footer";
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto;
  position: relative;
}

/* ! ---------- ASIDE ---------- */

#left-aside {
  z-index: 4;
  width: 300px;
  grid-area: left-aside;
  background-color: black;
}

#left-aside-navbar {
  height: 100%;
  gap: 8px;
}

#left-aside-navbar-header {
  background-color: #121212;
}

#left-aside-navbar-main {
  background-color: #121212;
}

#left-aside-navbar-header-inner a {
  gap: 20px;
  height: 40px;
  font-size: 1rem;
  font-family: "CircularBold", sans-serif;
}

#left-aside-navbar-main-inner a {
  gap: 20px;
  height: 40px;
  font-size: 1rem;
  font-family: "CircularBold", sans-serif;
}

/* ! ---------- FOOTER ---------- */

#footer {
  grid-area: footer;
}

/* ! ---------- MAIN ---------- */

#main {
  grid-area: main;
  background: rgb(18, 18, 18);
  background: linear-gradient(
    0deg,
    rgba(18, 18, 18, 1) 0%,
    rgba(34, 34, 34, 1) 100%
  );
  height: 100%;
  gap: 8px;
}

#inner-main {
  grid-area: main main main right-aside;
  position: relative;
}

#main-header {
  width: 100%;
  background-color: #12121200;
  position: absolute;
  height: 64px;
  contain: content;
  gap: 8px;
  padding: 16px;
}

#main-header button {
  background-color: #00000050;
  border: none;
  width: 32px;
  height: 32px;
}

#explore-premium-button {
  font-family: "CircularBold";
  width: unset !important;
}

/* ! ---------- MEDIA-QUERIES ---------- */

/* @media screen and (min-width:576px) {
} */

/* @media screen and (min-width:768px) {
} */

/* @media screen and (min-width:992px) {
} */

/* @media screen and (min-width:1200px) {
} */

/* @media screen and (min-width:1400px) {
} */
